@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.game-area {
  position: relative;
  margin: 2rem 1rem;
  width: -webkit-fill-available;
  height: 25rem;
  /* border: 2px solid #000; */
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #1363DF;
  border: 1px solid #47B5FF;
  border-radius: 20%;
}

.snake-dot-head{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #06283D;
  border: 1px solid #DFF6FF;
  border-radius: 20%;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-image: url("../assets/images/mango.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pause-animation{
  width: 150px;
  height: 150px;
  background-image: url("../assets/images/game-pause-animation.gif");
  background-repeat: no-repeat;
  background-size: cover;
}